scikit-learn
pandas
numpy==1.26.4
flask
flask-cors
matplotlib
seaborn
scipy
wordcloud
plotly
torch==2.1.2
torchtext==0.16.2
torchvision
transformers
sentencepiece
tokenizers
Pillow
streamlit
nbformat
nltk
spacy
gensim
langdetect
textblob
datasets
streamlit-extras
prometheus-client
grafana-api
docker
jupyter
optuna
yfinance
tqdm
joblib
opencv-python
face-recognition
python-dotenv
surprise
auto-sklearn
statsmodels==0.11.1

# SpaCy language models
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.1.0/es_core_news_sm-3.1.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.1.0/fr_core_news_sm-3.1.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.1.0/de_core_news_sm-3.1.0.tar.gz
